* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: #000;
    text-decoration: none;

}
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 960px;
    margin: 0 auto;
}
.main-header {
    display: flex;

    width: 100%;
    background-color: #0693E3;
}
.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 80px;
    width: 160px;

    background-color: #0693E3;
}
.main-navigation a {
    line-height: 80px;

    text-align: center;
    width: 100%;
}
.main-navigation a:active {
    background-color: #fff;
}
.main-content {
    display: flex;
    flex-direction: row;

    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.main-header__logo {
    background-color: #0693E3;
    line-height: 80px;
    text-align: center;
    width: 20%;

    font-size: 40px;
    color: #ffffff;
}
.main-header__filters {
    display: flex;
    background-color: #0693E3;
    height: 80px;
    width: 40%;
}
.filter {
    line-height: 80px;
    width: 200px;
    height: 200px;

    color: #000;
    font-size: 20px;
}

.filter--height {
    line-height: 40px;
    width: 100%;
    text-align: center;
    text-decoration: none;

    font-size: 20px;
    color: #000
}

.filter-select {
    background-color: #fff;
    font-size: 18px;
}
.filter-content {
    margin: 0 20px;
    line-height: 80px;
    text-align: center;
    color: #fff;
}
.filter-select {
    width: 160px;
    height: 40px;
}
.filter-select {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #0693E3;
}
.select {
    height: 30px;
    margin-left: 20px;
}
.filter-content span {
    padding: 5px;
    height: 10px;

    border: 1px solid #fff;
    border-radius: 10px;

    color: #fff;
}
.filter-content--active {

}

@media (max-width: 360px) {


}

.mdc-card__primary {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
}
.mdc-card__primary h2 {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 100%;
    font-size: 16px;
}
.mdc-card__primary p {
    font-size: 14px;
}

.main-footer p {
    padding-left: 2%;
}

.selected {
    background-color: #fff;
}

.main-content-btn {
    width: 100%;
    line-height: 30px;
    background-color: #0693E3;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
}

.main-page {
    margin-top: 20px;

    font-size: 18px;
    line-height: 25px;
}
.main-page ul {
    margin-left: 20px;
}
.main-page h1 {
    text-align: center;
    margin-bottom: 20px;
}
.mdc-card__title--large {
    margin: 5px 0;
    display: block;
    overflow: hidden;
}

.open-href {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
